*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 6.4375rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  body {
    padding-top: 10rem;
  }
}

a:not(.link):focus,
button:focus,
[role=button]:focus {
  outline: none;
}
a:not(.link):focus-visible,
button:focus-visible,
[role=button]:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  main {
    padding: 0 6.125rem 0 6.0625rem;
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0em;
}

.heading-xl-only {
  font-size: 15.625rem;
  letter-spacing: -0.3125rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 12.5rem;
}

.heading-xl {
  font-size: 7.5rem;
  letter-spacing: -0.1875rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 12.5rem;
}

.heading-l {
  font-size: 3rem;
  letter-spacing: -0.075rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3rem;
}
@media (min-width: 768px) {
  .heading-l {
    font-size: 6rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 5rem;
  }
}

.heading-m {
  font-size: 3rem;
  letter-spacing: -0.106875rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3.25rem;
}
@media (min-width: 768px) {
  .heading-m {
    font-size: 4.5rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 4rem;
  }
}

.heading-s {
  font-size: 2rem;
  letter-spacing: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 2.5rem;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.letter-spacing-small {
  letter-spacing: -0.075rem !important;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip-path: inset(50%);
  white-space: no-wrap;
  padding: 0;
  margin: -1px;
  border: 0;
}

.hero-slide {
  padding: 7.25rem 2rem 6.875rem;
  color: #fff;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: none;
}
@media (min-width: 768px) {
  .hero-slide {
    padding: 11.625rem 3.625rem 11.1875rem 3.625rem;
  }
}
.hero-slide__title {
  margin-bottom: 0.6875rem;
}
@media (min-width: 768px) {
  .hero-slide__title {
    max-width: 28.5625rem;
    margin-bottom: 0.625rem;
  }
}
.hero-slide__text {
  margin-bottom: 5.1875rem;
  max-width: 29.375rem;
}
@media (min-width: 768px) {
  .hero-slide__text {
    max-width: 28.5625rem;
    margin-bottom: 2.0625rem;
  }
}
.hero-slide--1 {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-paramour.jpg");
}
@media (min-width: 768px) {
  .hero-slide--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/tablet/image-hero-paramour.jpg");
  }
}
.hero-slide--2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-seraph.jpg");
}
.hero-slide--3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-federal.jpg");
}
.hero-slide--4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-trinity.jpg");
}

.link {
  background-color: #1b1d23;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5625rem;
  color: #fff;
  padding: 1.5625rem 2rem 1.375rem 2.3125rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s;
  outline: 0.1875rem solid transparent;
  outline-offset: 0.1875rem;
}
.link svg {
  flex-shrink: 0;
}
.link:hover {
  background-color: #60636d;
}
.link:active {
  background-color: #c8ccd8;
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 0.1875rem solid #c8ccd8;
  outline-offset: 0.1875rem;
}
.link--feature-desktop {
  display: none;
}
@media (min-width: 768px) {
  .link--feature-desktop {
    display: inline-flex;
  }
}
.link--feature-mobile {
  display: flex;
  justify-content: center;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .link--feature-mobile {
    display: none;
  }
}
.link--feature-white {
  padding: 0;
  background-color: transparent;
  color: #1b1d23;
}
.link--feature-white:hover {
  background-color: transparent;
}
.link--feature-white:active {
  background-color: transparent;
}
.link--feature-white:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}
@media (min-width: 768px) {
  .link--footer {
    position: absolute;
    right: -9.725rem;
  }
}

.project-card {
  position: relative;
  max-width: 31.25rem;
  margin: 0 auto;
  padding: 9.5625rem 1.5rem 1.4375rem;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .project-card {
    max-width: 35.8125rem;
    padding: 8.5625rem 2.5rem 2.4375rem;
  }
}
.project-card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.project-card__link-wrapper {
  text-decoration: none;
  color: #fff;
}
.project-card__link-wrapper:focus-visible {
  outline: none;
  box-shadow: none;
}
.project-card__link-wrapper:focus-visible::before {
  content: "";
  position: absolute;
  inset: -0.1875rem;
  border: 0.1875rem solid #1b1d23;
}
.project-card__text {
  opacity: 75%;
}
.project-card__number {
  display: none;
}
@media (min-width: 768px) {
  .project-card__number {
    display: block;
    position: absolute;
    margin: auto 0;
    right: 1rem;
    top: 1.8125rem;
    color: #fff;
    opacity: 50%;
  }
}
.project-card--1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-seraph.jpg");
}
@media (min-width: 768px) {
  .project-card--1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-seraph.jpg");
  }
}
.project-card--2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-eebox.jpg");
}
@media (min-width: 768px) {
  .project-card--2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-eebox.jpg");
  }
}
.project-card--3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-federal.jpg");
}
@media (min-width: 768px) {
  .project-card--3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-federal.jpg");
  }
}
.project-card--4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-del-sol.jpg");
}
@media (min-width: 768px) {
  .project-card--4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-del-sol.jpg");
  }
}
.project-card--5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-prototype.jpg");
}
@media (min-width: 768px) {
  .project-card--5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-prototype.jpg");
  }
}
.project-card--6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-228b.jpg");
}
@media (min-width: 768px) {
  .project-card--6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-228b.jpg");
  }
}
.project-card--7 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-edelweiss.jpg");
}
@media (min-width: 768px) {
  .project-card--7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-edelweiss.jpg");
  }
}
.project-card--8 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-netcry.jpg");
}
@media (min-width: 768px) {
  .project-card--8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-netcry.jpg");
  }
}
.project-card--9 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-hypers.jpg");
}
@media (min-width: 768px) {
  .project-card--9 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-hypers.jpg");
  }
}
.project-card--10 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-sxiv.jpg");
}
@media (min-width: 768px) {
  .project-card--10 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-sxiv.jpg");
  }
}
.project-card--11 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-trinity.jpg");
}
@media (min-width: 768px) {
  .project-card--11 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-trinity.jpg");
  }
}
.project-card--12 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-paramour.jpg");
}
@media (min-width: 768px) {
  .project-card--12 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-paramour.jpg");
  }
}

.submit-btn {
  border: none;
  z-index: 10;
  display: block;
  background-color: #1b1d23;
  color: #fff;
  padding: 1.9375rem 1.75rem;
  transition: all 0.3s;
  outline: 0.1875rem solid transparent;
  outline-offset: 0.1875rem;
}
.submit-btn--right {
  margin-left: auto;
}
.submit-btn:focus {
  outline: none;
}
.submit-btn:focus-visible {
  outline: 0.1875rem solid #c8ccd8;
  outline-offset: 0.1875rem;
}
.submit-btn:hover {
  background-color: #60636d;
}
.submit-btn:active {
  background-color: #c8ccd8;
}

.error-text {
  color: #df5656;
  font-weight: bold;
  letter-spacing: -0.0175rem;
  position: absolute;
}

@media (min-width: 768px) {
  .page-label-container {
    display: block;
    position: static;
    width: 0;
    height: 0;
  }
}

.page-label {
  height: auto;
  width: auto;
  overflow: visible;
  clip-path: unset;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  transform: translateX(-2.1875rem) rotate(90deg);
  transform-origin: left top;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #c8ccd8;
  display: flex;
  align-items: center;
  height: 3.125rem;
}
.page-label::before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 0.0625rem;
  background-color: #c8ccd8;
  margin-right: 3.5rem;
}

.header {
  position: fixed;
  z-index: 50;
  pointer-events: none;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    min-height: unset;
    background-color: #fff;
  }
}
.header__wrapper {
  pointer-events: all;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__wrapper {
    padding: 3.5rem 0 3.5rem 6.0625rem;
    background-color: transparent;
    justify-content: flex-start;
  }
}
.header__menu-toggle {
  display: flex;
  border: none;
}
@media (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }
}
.header__logo-link {
  width: 4.8125rem;
}
@media (min-width: 768px) {
  .header__logo-link {
    width: 6rem;
    margin-right: 4.929375rem;
  }
}

.navigation-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.navigation-wrapper.open {
  display: flex;
}
@media (min-width: 768px) {
  .navigation-wrapper {
    display: flex;
    background-color: transparent;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
  }
}

.navigation {
  background-color: #eeeff4;
  padding: 2.4375rem 3rem 2.625rem;
  width: calc(100% - 2rem);
}
.navigation__list-item:not(:last-child) {
  margin-bottom: 1.0625rem;
}
@media (min-width: 768px) {
  .navigation__list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation__list-item:last-child {
    margin-left: 3.1875rem;
  }
  .navigation__list-item:nth-last-child(2) {
    margin-left: 3.8125rem;
  }
}
.navigation__link {
  display: block;
  pointer-events: all;
  text-decoration: none;
  color: #1b1d23;
}
@media (min-width: 768px) {
  .navigation__link {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: #7d828f;
  }
}
@media (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .navigation {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
}

.footer {
  position: relative;
  background-color: #eeeff4;
  padding: 5.8125rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 0;
    width: 79.7%;
  }
}
.footer__logo-container {
  padding: 0 1.875rem 0 2rem;
  background-color: #1b1d23;
  color: #fff;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  height: 7.5rem;
  width: 7.5rem;
  display: flex;
}
@media (min-width: 768px) {
  .footer__logo-container {
    position: static;
    transform: translateY(0);
    margin-right: 2.5rem;
  }
}
.footer__list {
  list-style: none;
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    align-items: center;
  }
}
.footer__list-item {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__list-item:first-child {
    margin-right: 3.8125rem;
  }
}
@media (min-width: 768px) {
  .footer__list-item:nth-last-child(2) {
    margin-right: 3.1875rem;
  }
}
.footer__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__list-item:last-child {
  margin-bottom: 1.9375rem;
}
@media (min-width: 768px) {
  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}
.footer__link {
  display: inline-block;
  color: #7d828f;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.home-main {
  padding: 0;
}
@media (min-width: 768px) {
  .home-main {
    padding: 0 6.125rem 0 6.0625rem;
  }
}

.hero__list {
  list-style-type: none;
}

.welcome {
  position: relative;
  padding: 4.5rem 2rem 7.0625rem;
}
@media (min-width: 768px) {
  .welcome {
    padding: 15.5rem 0 13.75rem;
  }
}
.welcome::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
@media (min-width: 768px) {
  .welcome::before {
    display: none;
  }
}
.welcome__background-text {
  display: none;
}
@media (min-width: 768px) {
  .welcome__background-text {
    display: block;
    color: #eeeff4;
    position: absolute;
    top: 5.5625rem;
    z-index: -1;
  }
}
.welcome__title {
  padding-top: 4.3125rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 768px) {
  .welcome__title {
    margin-bottom: 3.5rem;
    padding-top: 0;
    max-width: 27.875rem;
  }
}
.welcome__text {
  color: #60636d;
}
.welcome__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.about {
  padding: 11.3125rem 2rem 11.25rem;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/home/tablet/image-small-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
.about__title {
  margin-bottom: 1.4375rem;
}
@media (min-width: 768px) {
  .about__title {
    max-width: 27.8125rem;
    margin-bottom: 1.6875rem;
  }
}
@media (min-width: 768px) {
  .about {
    padding: 10.4375rem 4.375rem 10.5rem 3.625rem;
  }
}

.featured {
  padding: 4.5625rem 2rem 10.6875rem;
}
@media (min-width: 768px) {
  .featured {
    padding: 12.5rem 0rem;
  }
}
@media (min-width: 768px) {
  .featured__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.3125rem;
  }
}
.featured__title {
  margin-bottom: 2.6875rem;
}
@media (min-width: 768px) {
  .featured__title {
    margin-bottom: 0;
  }
}

.portfolio-main {
  margin-top: 3.498125rem;
  padding-bottom: 8.25rem;
}
@media (min-width: 768px) {
  .portfolio-main {
    padding-bottom: 12.5rem;
    margin-top: 0;
  }
}

.about-main h2,
.about-main h3 {
  color: #1b1d23;
}
.about-main p:not(.page-label, .team-intro__decoration-title) {
  color: #60636d;
}

.team-intro {
  padding: 16.3125rem 0 4.75rem;
}
@media (min-width: 768px) {
  .team-intro {
    position: relative;
    padding: 23.5625rem 0 0 7.3125rem;
    margin-bottom: 12.625rem;
    display: flex;
    justify-content: flex-end;
  }
}
.team-intro::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  inset-inline: 0;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/about/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
@media (min-width: 768px) {
  .team-intro::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 768px) {
  .team-intro::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    inset-inline: 0;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/about/tablet/image-hero.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .team-intro::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
.team-intro__wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .team-intro__wrapper::before {
    content: "";
    display: block;
    height: 1px;
    width: 4.0625rem;
    background-color: #c8ccd8;
  }
}
.team-intro__decoration-title {
  display: none;
}
@media (min-width: 768px) {
  .team-intro__decoration-title {
    display: block;
    position: absolute;
    color: #eeeff4;
    bottom: 105%;
    right: 0;
    line-height: 1;
  }
}
.team-intro__title {
  max-width: 19.4375rem;
  letter-spacing: -0.075rem;
}
@media (min-width: 768px) {
  .team-intro__title {
    margin-top: 4.5625rem;
    max-width: 28.5rem;
    letter-spacing: -0.125rem;
  }
}
.team-intro__text {
  margin: 1.25rem 0 0;
}
@media (min-width: 768px) {
  .team-intro__text {
    max-width: 28.5rem;
  }
}
.team-intro ~ section h2 {
  max-width: 7ch;
}

.heritage {
  padding-bottom: 7rem;
}
@media (min-width: 768px) {
  .heritage {
    padding-bottom: 14.4375rem;
  }
}
.heritage::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
.heritage__title {
  margin-top: 4.3125rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 768px) {
  .heritage__title {
    margin-top: 3.0625rem;
    margin-bottom: 3.875rem;
  }
}
@media (min-width: 768px) {
  .heritage__text {
    max-width: 41.8125rem;
  }
}
.heritage__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.leaders {
  padding-bottom: 10.6875rem;
}
@media (min-width: 768px) {
  .leaders {
    padding-bottom: 14.9375rem;
  }
}
@media (min-width: 768px) {
  .leaders__list {
    max-width: 43.75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 6.4375rem 0.6875rem;
  }
}
.leaders__list-item {
  max-width: 21.875rem;
  margin-left: auto;
  margin-right: auto;
}
.leaders__list-item:not(:last-child) {
  margin-bottom: 4.9375rem;
}
@media (min-width: 768px) {
  .leaders__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.leaders__title {
  margin-bottom: 3.4375rem;
}
@media (min-width: 768px) {
  .leaders__title {
    margin-bottom: 3.0625rem;
  }
}
.leaders__image-container {
  display: block;
  width: 100%;
  margin-bottom: 0.9375rem;
}
@media (min-width: 768px) {
  .leaders__image-container {
    height: 16rem;
  }
}
.leaders__img {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .leaders__img {
    height: 100%;
  }
}
.leaders .leaders__text {
  color: #1b1d23;
  opacity: 75%;
}

.contact-main p:not(.error-text, .page-label) {
  color: #60636d;
}
.contact-main h2 {
  color: #1b1d23;
}

.tell-us {
  padding: 16.25rem 0 6.25rem;
}
.tell-us__title {
  margin-bottom: 1.3125rem;
  max-width: 11ch;
}
.tell-us__text {
  max-width: 37rem;
}
.tell-us::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  inset-inline: 0;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/contact/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
@media (min-width: 768px) {
  .tell-us::before {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
.tell-us ~ section h2 {
  max-width: 7ch;
}

.contact-details {
  padding-bottom: 4.5625rem;
}
.contact-details__title {
  margin-bottom: 2.5rem;
}
.contact-details__list-item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.contact-details__list-title {
  color: #60636d;
  font-size: inherit;
  line-height: 2.1875rem;
  margin-bottom: 0.875rem;
}
.contact-details__list {
  margin-bottom: 4.4375rem;
}
.contact-details__list-text:last-of-type {
  margin-bottom: 2.6875rem;
}
.contact-details__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 23.4375rem;
}

.connect-with-us {
  padding: 0 0 8.25rem;
}
.connect-with-us__title {
  margin-bottom: 2rem;
}
.connect-with-us__form {
  max-width: 33.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.connect-with-us__input-container {
  position: relative;
}
.connect-with-us__input-container:not(:last-of-type) {
  margin-bottom: 2.0625rem;
}
.connect-with-us .error-text {
  bottom: 1rem;
  right: 1rem;
  display: none;
}
.connect-with-us__input {
  border: none;
  display: block;
  font-family: inherit;
  font-weight: bold;
  border-bottom: 0.0625rem solid #1b1d23;
  width: 100%;
  padding: 0.625rem 0 1.3125rem 2.155625rem;
  font-size: 1.25rem;
  letter-spacing: -0.019375rem;
  font-weight: bold;
  color: #1b1d23;
  outline: none;
  transition: box-shadow 0.2s;
}
.connect-with-us__input:focus {
  box-shadow: 0 0.125rem 0 0 #1b1d23;
}
.connect-with-us__input.error {
  border-bottom-color: #df5656;
  color: #df5656;
}
.connect-with-us__input.error + .error-text {
  display: block;
}
.connect-with-us__input.error:focus {
  box-shadow: 0 0.125rem 0 0 #df5656;
}
.connect-with-us__input.error::placeholder {
  color: rgba(223, 86, 86, 0.5);
}
.connect-with-us__input--message {
  padding-bottom: 3.125rem;
}
.connect-with-us__input::placeholder {
  color: #c8ccd8;
}

/*# sourceMappingURL=styles.css.map */
