.portfolio-main__list, .featured__list {
  display: grid;
  max-width: 31.25rem;
  margin: 0 auto;
  gap: 1.5rem;
}
@media (min-width: 48em) {
  .portfolio-main__list, .featured__list {
    max-width: 35.8125rem;
  }
}
@media (min-width: 64em) {
  .portfolio-main__list, .featured__list {
    max-width: unset;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 6.4375rem;
  background-color: #fff;
}
@media (min-width: 48em) {
  body {
    padding-top: 10rem;
  }
}

a:not(.link, .project-card__link-wrapper, .leader__socia-media-link):focus,
button:focus,
[role=button]:focus {
  outline: none;
}
a:not(.link, .project-card__link-wrapper, .leader__socia-media-link):focus-visible,
button:focus-visible,
[role=button]:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  padding: 0 2rem;
}
@media (min-width: 48em) {
  main {
    padding: 0 6.125rem 0 6.0625rem;
  }
}
@media (min-width: 80em) {
  main {
    max-width: 90rem;
    padding: 0 10.3125rem 0 10.3125rem;
    margin: 0 auto;
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0em;
}

.heading-xl-only {
  font-size: 15.625rem;
  letter-spacing: -0.3125rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 12.5rem;
}

.heading-xl {
  font-size: 7.5rem;
  letter-spacing: -0.1875rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 12.5rem;
}
@media (min-width: 80em) {
  .heading-xl {
    font-size: 15.625rem;
    letter-spacing: -0.3125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 12.5rem;
  }
}

.heading-l {
  font-size: 3rem;
  letter-spacing: -0.075rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3rem;
}
@media (min-width: 48em) {
  .heading-l {
    font-size: 6rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 5rem;
  }
}

.heading-m {
  font-size: 3rem;
  letter-spacing: -0.106875rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3.25rem;
}
@media (min-width: 48em) {
  .heading-m {
    font-size: 4.5rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 4rem;
  }
}

.heading-s {
  font-size: 2rem;
  letter-spacing: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 2.5rem;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.letter-spacing-small {
  letter-spacing: -0.075rem !important;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip-path: inset(50%);
  white-space: no-wrap;
  padding: 0;
  margin: -1px;
  border: 0;
}

.hero-slide {
  padding: 7.25rem 2rem 6.875rem;
  color: #fff;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: none;
}
.hero-slide--active {
  display: block;
}
@media (min-width: 48em) {
  .hero-slide {
    padding: 11.625rem 3.625rem 11.1875rem 3.625rem;
  }
}
@media (min-width: 64em) {
  .hero-slide {
    padding: 11.625rem 3.625rem 11.1875rem 11.875rem;
  }
}
@media (min-width: 80em) {
  .hero-slide {
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1);
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.hero-slide__title {
  margin-bottom: 0.6875rem;
}
@media (min-width: 48em) {
  .hero-slide__title {
    max-width: 28.5625rem;
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 64em) {
  .hero-slide__title {
    max-width: 34rem;
  }
}
@media (min-width: 64em) {
  .hero-slide__title {
    margin-bottom: 0.625rem;
  }
}
.hero-slide__text {
  margin-bottom: 5.1875rem;
  max-width: 29.375rem;
}
@media (min-width: 48em) {
  .hero-slide__text {
    max-width: 28.5625rem;
    margin-bottom: 2.0625rem;
  }
}
@media (min-width: 64em) {
  .hero-slide__text {
    margin-bottom: 2.5625rem;
  }
}
.hero-slide--1 {
  transform: translateX(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-paramour.jpg");
}
@media (min-width: 48em) {
  .hero-slide--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/tablet/image-hero-paramour.jpg");
  }
}
@media (min-width: 64em) {
  .hero-slide--1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/desktop/image-hero-paramour.jpg");
  }
}
.hero-slide--2 {
  transform: translateX(100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-seraph.jpg");
}
@media (min-width: 48em) {
  .hero-slide--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/tablet/image-hero-seraph.jpg");
  }
}
@media (min-width: 64em) {
  .hero-slide--2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/desktop/image-hero-seraph.jpg");
  }
}
.hero-slide--3 {
  transform: translateX(200%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-federal.jpg");
}
@media (min-width: 48em) {
  .hero-slide--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/tablet/image-hero-federal.jpg");
  }
}
@media (min-width: 64em) {
  .hero-slide--3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/desktop/image-hero-federal.jpg");
  }
}
.hero-slide--4 {
  transform: translateX(300%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-trinity.jpg");
}
@media (min-width: 48em) {
  .hero-slide--4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/tablet/image-hero-trinity.jpg");
  }
}
@media (min-width: 64em) {
  .hero-slide--4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/desktop/image-hero-trinity.jpg");
  }
}
@media (min-width: 48em) {
  .hero-slide--4 .hero-slide__title {
    max-width: 34rem;
  }
}

.link {
  background-color: #1b1d23;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5625rem;
  color: #fff;
  padding: 1.5625rem 2rem 1.375rem 2.3125rem;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  transition: all 0.3s;
  outline: 0.1875rem solid transparent;
  outline-offset: 0.1875rem;
}
.link svg {
  flex-shrink: 0;
}
.link:hover {
  background-color: #60636d;
}
.link:active {
  background-color: #c8ccd8;
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 0.1875rem solid #c8ccd8;
  outline-offset: 0.1875rem;
}
.link--feature-desktop {
  display: none;
}
@media (min-width: 48em) {
  .link--feature-desktop {
    display: inline-flex;
  }
}
.link--feature-mobile {
  display: flex;
  justify-content: center;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 48em) {
  .link--feature-mobile {
    display: none;
  }
}
.link--feature-white:hover span::before {
  opacity: 1;
}
.link--feature-white {
  padding: 0;
  background-color: transparent;
  color: #1b1d23;
  font-weight: bold;
}
.link--feature-white span {
  position: relative;
}
.link--feature-white span::before {
  content: "";
  transition: opacity 0.3s;
  height: 0.5px;
  width: 100%;
  background-color: #1b1d23;
  position: absolute;
  bottom: 0.375rem;
  opacity: 0;
}
.link--feature-white:hover {
  background-color: transparent;
}
.link--feature-white:active {
  background-color: transparent;
}
.link--feature-white:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}
@media (min-width: 48em) {
  .link--footer {
    align-self: center;
    position: absolute;
    right: -9.5625rem;
  }
}
@media (min-width: 80em) {
  .link--footer {
    right: -7.875rem;
  }
}

.project-card {
  position: relative;
  padding: 9.5625rem 1.5rem 1.4375rem;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
.project-card::after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  inset: 0;
  transition: opacity 0.3s;
  z-index: 1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  opacity: 0;
}
.project-card:hover::after {
  opacity: 1;
}
@media (min-width: 48em) {
  .project-card {
    padding: 8.5625rem 2.5rem 2.4375rem;
  }
}
@media (min-width: 64em) {
  .project-card {
    padding: 0 2.5rem 2.4375rem;
    height: 35rem;
    display: flex;
    align-items: flex-end;
  }
}
.project-card__link-wrapper {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.project-card__link-wrapper:focus-visible {
  outline: none;
  box-shadow: none;
}
.project-card__link-wrapper::before {
  content: "";
  position: absolute;
  inset: -0.1875rem;
  border: 0.1875rem solid #1b1d23;
  opacity: 0;
  transition: opacity 0.3s;
}
.project-card__link-wrapper:focus-visible::before {
  opacity: 1;
}
.project-card__text {
  opacity: 75%;
}
.project-card__number {
  display: none;
}
@media (min-width: 48em) {
  .project-card__number {
    display: block;
    position: absolute;
    margin: auto 0;
    right: 1rem;
    top: 1.8125rem;
    color: #fff;
    opacity: 50%;
  }
}
@media (min-width: 64em) {
  .project-card__number {
    top: 2.8125rem;
    right: -0.625rem;
  }
}
.project-card--1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-seraph.jpg");
}
@media (min-width: 48em) {
  .project-card--1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-seraph.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-seraph.jpg");
  }
}
.project-card--2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-eebox.jpg");
}
@media (min-width: 48em) {
  .project-card--2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-eebox.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-eebox.jpg");
  }
}
.project-card--3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-federal.jpg");
}
@media (min-width: 48em) {
  .project-card--3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-federal.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-federal.jpg");
  }
}
.project-card--4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-del-sol.jpg");
}
@media (min-width: 48em) {
  .project-card--4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-del-sol.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-del-sol.jpg");
  }
}
.project-card--5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-prototype.jpg");
}
@media (min-width: 48em) {
  .project-card--5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-prototype.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-prototype.jpg");
  }
}
.project-card--6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-228b.jpg");
}
@media (min-width: 48em) {
  .project-card--6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-228b.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-228b.jpg");
  }
}
.project-card--7 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-edelweiss.jpg");
}
@media (min-width: 48em) {
  .project-card--7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-edelweiss.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--7 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-edelweiss.jpg");
  }
}
.project-card--8 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-netcry.jpg");
}
@media (min-width: 48em) {
  .project-card--8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-netcry.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-netcry.jpg");
  }
}
.project-card--9 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-hypers.jpg");
}
@media (min-width: 48em) {
  .project-card--9 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-hypers.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--9 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-hypers.jpg");
  }
}
.project-card--10 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-sxiv.jpg");
}
@media (min-width: 48em) {
  .project-card--10 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-sxiv.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--10 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-sxiv.jpg");
  }
}
.project-card--11 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-trinity.jpg");
}
@media (min-width: 48em) {
  .project-card--11 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-trinity.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--11 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-trinity.jpg");
  }
}
.project-card--12 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-paramour.jpg");
}
@media (min-width: 48em) {
  .project-card--12 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/tablet/image-paramour.jpg");
  }
}
@media (min-width: 64em) {
  .project-card--12 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/desktop/image-paramour.jpg");
  }
}

.submit-btn {
  border: none;
  z-index: 10;
  display: block;
  background-color: #1b1d23;
  color: #fff;
  padding: 1.9375rem 1.75rem;
  height: 5rem;
  width: 5rem;
  transition: all 0.3s;
  outline: 0.125rem solid transparent;
  outline-offset: 0.1875rem;
}
.submit-btn--right {
  margin-left: auto;
}
.submit-btn:focus {
  outline: none;
}
.submit-btn:focus-visible {
  outline: 0.125rem solid #1b1d23;
  outline-offset: 0.1875rem;
}
.submit-btn:hover {
  background-color: #60636d;
}
.submit-btn:active {
  background-color: #c8ccd8;
}

.error-text {
  color: #df5656;
  font-weight: bold;
  letter-spacing: -0.0175rem;
  position: absolute;
}

@media (min-width: 48em) {
  .page-label-container {
    display: block;
    position: static;
    width: 0;
    height: 0;
  }
}

.page-label {
  height: auto;
  width: auto;
  overflow: visible;
  clip-path: unset;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 160;
  transform: translateX(-2.1875rem) rotate(90deg);
  transform-origin: left top;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #c8ccd8;
  display: flex;
  align-items: center;
  height: 3.125rem;
}
@media (min-width: 80em) {
  .page-label {
    transform: translateX(-4.875rem) rotate(90deg);
  }
}
.page-label::before {
  content: "";
  display: block;
  width: 6.5rem;
  height: 0.0625rem;
  background-color: #c8ccd8;
  margin-right: 3.5rem;
}
@media (min-width: 48em) {
  .page-label--portfolio::before {
    margin-right: 3.875rem;
  }
}

.decoration-title {
  display: none;
}
@media (min-width: 48em) {
  .decoration-title {
    display: block;
    position: absolute;
    color: #eeeff4;
    top: 12.5rem;
    right: 0;
  }
}
@media (min-width: 80em) {
  .decoration-title {
    top: 8.125rem;
  }
}

.slider-nav {
  z-index: 120;
  list-style-type: none;
  display: flex;
}
.slider-nav__item {
  background-color: #fff;
}
.slider-nav__button {
  line-height: 1.5625rem;
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  color: #7d828f;
  border: none;
  background-color: #fff;
  display: flex;
  height: 5rem;
  width: 5rem;
  padding: 1.75rem 2rem 1.6875rem 1.9375rem;
  transition: all 0.3s;
}
.slider-nav__button:not(.slider-nav__button--active):hover {
  background-color: #eeeff4;
}
.slider-nav__button--active {
  background-color: #1b1d23;
  color: #fff;
}

.header {
  position: fixed;
  z-index: 150;
  pointer-events: none;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .header {
    flex-direction: row;
    align-items: center;
    min-height: unset;
    background-color: #fff;
  }
}
@media (min-width: 80em) {
  .header {
    max-width: 90rem;
    margin: 0 auto;
  }
}
.header__wrapper {
  pointer-events: all;
  background-color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 48em) {
  .header__wrapper {
    padding: 3.5rem 0 3.5rem 6.0625rem;
    background-color: transparent;
    justify-content: flex-start;
  }
}
@media (min-width: 80em) {
  .header__wrapper {
    padding-left: 10.3125rem;
  }
}
.header__menu-toggle {
  display: flex;
  border: none;
}
@media (min-width: 48em) {
  .header__menu-toggle {
    display: none;
  }
}
.header__logo-link {
  width: 4.8125rem;
}
@media (min-width: 48em) {
  .header__logo-link {
    width: 6rem;
    margin-right: 4.929375rem;
  }
}
@media (min-width: 80em) {
  .header__logo-link {
    margin-right: 5.9275rem;
  }
}

.navigation-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.navigation-wrapper.open {
  display: flex;
}
@media (min-width: 48em) {
  .navigation-wrapper {
    display: flex;
    background-color: transparent;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
  }
}

.navigation {
  background-color: #eeeff4;
  padding: 2.4375rem 3rem 2.625rem;
  width: calc(100% - 2rem);
}
.navigation__list-item:not(:last-child) {
  margin-bottom: 1.0625rem;
}
@media (min-width: 48em) {
  .navigation__list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation__list-item:last-child {
    margin-left: 3.1875rem;
  }
  .navigation__list-item:nth-last-child(2) {
    margin-left: 3.8125rem;
  }
}
.navigation__link {
  display: block;
  pointer-events: all;
  text-decoration: none;
  color: #1b1d23;
  transition: color 0.3s;
}
.navigation__link:hover {
  color: #1b1d23;
}
@media (min-width: 48em) {
  .navigation__link {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: #7d828f;
  }
}
@media (min-width: 48em) {
  .navigation__list {
    display: flex;
  }
}
@media (min-width: 48em) {
  .navigation {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
}

.footer {
  position: relative;
  background-color: #eeeff4;
  padding: 5.8125rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48em) {
  .footer {
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    background-color: transparent;
  }
}
@media (min-width: 80em) {
  .footer {
    padding: 0 10.3125rem;
    max-width: 90rem;
    margin: 0 auto;
  }
}
.footer__logo-container {
  padding: 0 1.875rem 0 2rem;
  background-color: #1b1d23;
  color: #fff;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  height: 7.5rem;
  width: 7.5rem;
  display: flex;
}
@media (min-width: 48em) {
  .footer__logo-container {
    position: static;
    transform: translateY(0);
  }
}
@media (min-width: 80em) {
  .footer__logo-container {
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    justify-content: center;
  }
}
.footer__logo {
  width: 3.625rem;
}
@media (min-width: 80em) {
  .footer__logo {
    width: 6rem;
  }
}
@media (min-width: 48em) {
  .footer__navigation {
    position: relative;
    width: 64.1%;
    max-width: 49rem;
    background-color: #eeeff4;
    padding-left: 2.5rem;
    display: flex;
  }
}
@media (min-width: 80em) {
  .footer__navigation {
    padding-left: 5.3125rem;
    width: 70.65%;
  }
}
.footer__list {
  list-style: none;
}
@media (min-width: 48em) {
  .footer__list {
    display: flex;
    align-items: center;
  }
}
.footer__list-item {
  text-align: center;
}
@media (min-width: 48em) {
  .footer__list-item:first-child {
    margin-right: 3.8125rem;
  }
}
@media (min-width: 48em) {
  .footer__list-item:nth-last-child(2) {
    margin-right: 3.1875rem;
  }
}
.footer__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 48em) {
  .footer__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.footer__list-item:last-child {
  margin-bottom: 1.9375rem;
}
@media (min-width: 48em) {
  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}
.footer__link {
  display: inline-block;
  color: #7d828f;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  line-height: 1.5625rem;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #1b1d23;
}

.home-main {
  padding: 0;
}
@media (min-width: 48em) {
  .home-main {
    padding: 0 6.125rem 0 6.0625rem;
  }
}
@media (min-width: 80em) {
  .home-main {
    padding: 0 10.3125rem 0 10.3125rem;
  }
}

@media (min-width: 64em) {
  .hero {
    position: relative;
  }
}
.hero__list {
  list-style-type: none;
}
.hero__list--no-transition .hero-slide {
  transition: none !important;
}
@media (min-width: 80em) {
  .hero__list {
    position: relative;
    overflow: hidden;
    height: 45rem;
  }
}
.hero__nav {
  display: none;
}
@media (min-width: 80em) {
  .hero__nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -5rem;
  }
}

.welcome {
  position: relative;
  padding: 4.5rem 2rem 7.0625rem;
}
@media (min-width: 48em) {
  .welcome {
    padding: 15.5rem 0 13.75rem;
  }
}
@media (min-width: 64em) {
  .welcome {
    padding: 16.8125rem 0 13.1875rem;
    display: flex;
  }
}
@media (min-width: 64em) {
  .welcome__wrapper {
    max-width: 28rem;
    margin: 0 auto;
  }
}
@media (min-width: 80em) {
  .welcome__wrapper {
    margin-right: 7.8125rem;
  }
}
.welcome::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
@media (min-width: 48em) {
  .welcome::before {
    display: none;
  }
}
.welcome__background-text {
  display: none;
}
@media (min-width: 48em) {
  .welcome__background-text {
    display: block;
    color: #eeeff4;
    position: absolute;
    top: 5.5625rem;
    z-index: -1;
  }
}
@media (min-width: 64em) {
  .welcome__background-text {
    top: 6.75rem;
  }
}
.welcome__title {
  padding-top: 4.3125rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 48em) {
  .welcome__title {
    margin-bottom: 3.5rem;
    padding-top: 0;
    max-width: 27.875rem;
  }
}
@media (min-width: 64em) {
  .welcome__title {
    margin-bottom: 2.6875rem;
  }
}
.welcome__text {
  color: #60636d;
}
.welcome__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  .welcome::after {
    content: "";
    display: block;
    width: 21.875rem;
    height: 0.625rem;
  }
}
.welcome__decorative-image {
  display: none;
}
@media (min-width: 64em) {
  .welcome__decorative-image {
    display: block;
    position: absolute;
    top: 12.1875rem;
    right: 0;
    z-index: -2;
  }
}

.about {
  padding: 11.3125rem 2rem 11.25rem;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/home/mobile/image-small-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
@media (min-width: 48em) {
  .about {
    padding: 10.4375rem 4.375rem 10.5rem 3.625rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/home/tablet/image-small-team.jpg");
  }
}
@media (min-width: 64em) {
  .about {
    padding: 10.4375rem 4.375rem 10.5rem 11.875rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/home/desktop/image-small-team.jpg");
  }
}
.about__title {
  margin-bottom: 1.4375rem;
}
@media (min-width: 48em) {
  .about__title {
    max-width: 27.8125rem;
    margin-bottom: 1.6875rem;
  }
}

.featured {
  padding: 4.5625rem 2rem 10.6875rem;
}
@media (min-width: 48em) {
  .featured {
    padding: 12.5rem 0rem;
  }
}
@media (min-width: 48em) {
  .featured__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.3125rem;
  }
}
@media (min-width: 64em) {
  .featured__heading-wrapper {
    margin-bottom: 4rem;
  }
}
.featured__title {
  margin-bottom: 2.6875rem;
}
@media (min-width: 48em) {
  .featured__title {
    margin-bottom: 0;
  }
}
.portfolio-main {
  margin-top: 3.498125rem;
  padding-bottom: 8.25rem;
}
@media (min-width: 48em) {
  .portfolio-main {
    padding-bottom: 12.5rem;
    margin-top: 0;
  }
}
@media (min-width: 64em) {
  .portfolio-main {
    padding-top: 0.375rem;
    padding-bottom: 10rem;
  }
}
.about-main h2,
.about-main h3 {
  color: #1b1d23;
}
.about-main p:not(.page-label, .decoration-title) {
  color: #60636d;
}

.team-intro {
  padding: 16.3125rem 0 4.75rem;
}
@media (min-width: 48em) {
  .team-intro {
    position: relative;
    padding: 23.5625rem 0 0 7.3125rem;
    margin-bottom: 12.625rem;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 80em) {
  .team-intro {
    height: 45rem;
  }
}
.team-intro::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/about/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
@media (min-width: 48em) {
  .team-intro::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 80em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 90em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 48em) {
  .team-intro::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/about/tablet/image-hero.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
  }
}
@media (min-width: 48em) and (min-width: 48em) {
  .team-intro::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 48em) and (min-width: 80em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 48em) and (min-width: 90em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 64em) {
  .team-intro::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/about/desktop/image-hero.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
  }
}
@media (min-width: 64em) and (min-width: 48em) {
  .team-intro::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 64em) and (min-width: 80em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 64em) and (min-width: 90em) {
  .team-intro::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 48em) {
  .team-intro__wrapper {
    max-width: 28.5rem;
  }
  .team-intro__wrapper::before {
    content: "";
    display: block;
    height: 1px;
    width: 4.0625rem;
    background-color: #c8ccd8;
  }
}
.team-intro__title {
  max-width: 19.4375rem;
  letter-spacing: -0.075rem;
}
@media (min-width: 48em) {
  .team-intro__title {
    margin-top: 4.5625rem;
    max-width: unset;
    letter-spacing: -0.125rem;
  }
}
@media (min-width: 64em) {
  .team-intro__title {
    margin-top: 3.5625rem;
  }
}
.team-intro__text {
  margin: 1.25rem 0 0;
}
@media (min-width: 48em) {
  .team-intro__text {
    margin-top: 2.375rem;
  }
}
@media (min-width: 64em) {
  .team-intro__text {
    margin-top: 3.0625rem;
  }
}
.team-intro ~ section h2 {
  max-width: 7ch;
}

.heritage {
  padding-bottom: 7rem;
}
@media (min-width: 48em) {
  .heritage {
    padding-bottom: 12.9375rem;
  }
}
@media (min-width: 64em) {
  .heritage {
    padding-bottom: 12.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }
}
@media (min-width: 64em) {
  .heritage__wrapper {
    max-width: 26.625rem;
  }
}
.heritage__wrapper::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
.heritage__title {
  margin-top: 4.3125rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 48em) {
  .heritage__title {
    margin-top: 3.0625rem;
    margin-bottom: 3.875rem;
  }
}
@media (min-width: 64em) {
  .heritage__title {
    margin-top: 5.125rem;
    margin-bottom: 3.1875rem;
  }
}
@media (min-width: 48em) {
  .heritage__text {
    max-width: 41.8125rem;
  }
}
.heritage__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.heritage__img {
  display: none;
}
@media (min-width: 64em) {
  .heritage__img {
    width: 40%;
    display: block;
  }
}
@media (min-width: 80em) {
  .heritage__img {
    width: auto;
  }
}

.leaders {
  padding-bottom: 10.6875rem;
}
@media (min-width: 48em) {
  .leaders {
    padding-bottom: 14.9375rem;
  }
}
@media (min-width: 64em) {
  .leaders {
    padding-bottom: 9.9375rem;
    display: flex;
  }
}
.leaders__list {
  display: grid;
  justify-content: center;
}
@media (min-width: 48em) {
  .leaders__list {
    max-width: 43.75rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, auto);
    gap: 6.4375rem 0.6875rem;
  }
}
@media (min-width: 64em) {
  .leaders__list {
    max-width: 45.625rem;
    gap: 3.9375rem 1.875rem;
  }
}
.leaders__list-item {
  max-width: 21.875rem;
}
.leaders__list-item:not(:last-child) {
  margin-bottom: 4.9375rem;
}
@media (min-width: 48em) {
  .leaders__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.leaders__title {
  margin-bottom: 3.4375rem;
}
@media (min-width: 48em) {
  .leaders__title {
    margin-bottom: 3.0625rem;
  }
}
.leaders__image-container {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 0.9375rem;
}
@media (min-width: 48em) {
  .leaders__image-container {
    height: 16rem;
  }
}
@media (min-width: 64em) {
  .leaders__image-container {
    height: 14.375rem;
  }
}
@media (min-width: 80em) {
  .leaders__image-container {
    height: 16rem;
  }
}
@media (min-width: 90em) {
  .leaders__image-container {
    height: 20rem;
  }
}
.leaders__img {
  display: block;
  width: 100%;
}
@media (min-width: 48em) {
  .leaders__img {
    height: 100%;
  }
}
.leaders__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.leaders__image-container:hover .leaders__image-overlay, .leaders__image-container:focus-within .leaders__image-overlay {
  opacity: 1;
}
.leaders__socia-media-link {
  text-decoration: none;
}
.leaders__socia-media-link:focus {
  outline: none;
}
.leaders__socia-media-link:focus-visible {
  outline: 0.1875rem solid #fff;
  outline-offset: 0.25rem;
}
.leaders__social-media-icon {
  display: block;
  width: 2.5rem;
  color: #fff;
}
.leaders .leaders__text {
  color: #1b1d23;
  opacity: 75%;
}

.contact-main p:not(.error-text, .page-label, .decoration-title) {
  color: #60636d;
}
.contact-main h2 {
  color: #1b1d23;
}

.tell-us {
  padding: 16.25rem 0 6.25rem;
}
@media (min-width: 48em) {
  .tell-us {
    position: relative;
    padding: 23.5625rem 0 0 7.3125rem;
    margin-bottom: 12.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 80em) {
  .tell-us {
    height: 45rem;
    padding-left: 0;
  }
}
@media (min-width: 48em) {
  .tell-us__wrapper {
    max-width: 28.5rem;
  }
  .tell-us__wrapper::before {
    content: "";
    display: block;
    height: 1px;
    width: 4.0625rem;
    background-color: #c8ccd8;
  }
}
.tell-us__title {
  margin-bottom: 1.3125rem;
  max-width: 11ch;
  letter-spacing: -0.075rem;
}
@media (min-width: 48em) {
  .tell-us__title {
    margin-top: 4.875rem;
    margin-bottom: 2rem;
    max-width: unset;
    letter-spacing: -0.125rem;
  }
}
@media (min-width: 64em) {
  .tell-us__title {
    margin-top: 4.5625rem;
    margin-bottom: 2.3125rem;
  }
}
.tell-us__text {
  max-width: 37rem;
}
@media (min-width: 80em) {
  .tell-us__text {
    max-width: 28.1875rem;
  }
}
.tell-us::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/contact/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
@media (min-width: 48em) {
  .tell-us::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 80em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 90em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 48em) {
  .tell-us::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/contact/tablet/image-hero.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
  }
}
@media (min-width: 48em) and (min-width: 48em) {
  .tell-us::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 48em) and (min-width: 80em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 48em) and (min-width: 90em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 64em) {
  .tell-us::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/contact/desktop/image-hero.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
  }
}
@media (min-width: 64em) and (min-width: 48em) {
  .tell-us::after {
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 18.0625rem, 3.625rem 18.0625rem, 3.625rem 100%, 0% 100%);
  }
}
@media (min-width: 64em) and (min-width: 80em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 26.25rem 13.5625rem, 26.25rem 100%, 0% 100%);
    background-size: contain;
  }
}
@media (min-width: 64em) and (min-width: 90em) {
  .tell-us::after {
    clip-path: polygon(0% 0%, 39.6875rem 0%, 39.6875rem 13.5625rem, 30.3125rem 13.5625rem, 30.3125rem 100%, 0% 100%);
    background-size: contain;
  }
}

.contact-details {
  padding-bottom: 4.5625rem;
}
@media (min-width: 48em) {
  .contact-details {
    padding-bottom: 12.4375rem;
  }
}
@media (min-width: 64em) {
  .contact-details {
    padding-bottom: 9.9375rem;
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-details__wrapper::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
.contact-details__title {
  margin-bottom: 2.5rem;
  max-width: 7ch;
}
@media (min-width: 48em) {
  .contact-details__title {
    margin-top: 3.0625rem;
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 64em) {
  .contact-details__title {
    margin-top: 4.5625rem;
    margin-bottom: 0;
  }
}
.contact-details__list {
  margin-bottom: 4.4375rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 48em) {
  .contact-details__list {
    margin: 0 auto;
    gap: 2.6875rem;
    margin-bottom: 14.125rem;
    max-width: 35.8125rem;
  }
}
@media (min-width: 64em) {
  .contact-details__list {
    margin-top: 4.6875rem;
    margin-bottom: 12.4375rem;
    flex-direction: row;
  }
}
@media (min-width: 80em) {
  .contact-details__list {
    gap: 3.75rem;
    max-width: unset;
  }
}
@media (min-width: 90em) {
  .contact-details__list {
    max-width: 38.75rem;
    margin-right: 0;
    margin-left: 5rem;
    flex-grow: 1;
    justify-content: space-between;
  }
}
@media (min-width: 48em) {
  .contact-details__list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
@media (min-width: 64em) {
  .contact-details__list-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-details__list-title {
  color: #60636d;
  font-size: inherit;
  line-height: 2.1875rem;
  margin-bottom: 0.875rem;
}
.contact-details__list-text:last-of-type {
  margin-bottom: 2.6875rem;
}
@media (min-width: 48em) {
  .contact-details__list-text:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 48em) {
  .contact-details__list-link {
    margin-bottom: 0.8125rem;
  }
}
@media (min-width: 64em) {
  .contact-details__list-link {
    margin-bottom: 0;
    margin-top: 3.6875rem;
  }
}
.contact-details__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 23.4375rem;
}
@media (min-width: 48em) {
  .contact-details__img {
    max-width: 35.8125rem;
  }
}
@media (min-width: 64em) {
  .contact-details__img {
    max-width: unset;
  }
}

.connect-with-us {
  padding: 0 0 8.25rem;
}
@media (min-width: 48em) {
  .connect-with-us {
    padding: 0 0 12.5rem;
  }
}
@media (min-width: 80em) {
  .connect-with-us {
    padding-bottom: 10rem;
    display: flex;
    gap: 1.875rem;
  }
}
.connect-with-us__title {
  margin-bottom: 2rem;
  max-width: 7ch;
}
@media (min-width: 48em) {
  .connect-with-us__title {
    max-width: unset;
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 64em) {
  .connect-with-us__title {
    max-width: 21.875rem;
  }
}
.connect-with-us__form {
  max-width: 33.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .connect-with-us__form {
    max-width: 35.75rem;
  }
}
@media (min-width: 80em) {
  .connect-with-us__form {
    max-width: unset;
    margin: 0;
    flex-grow: 1;
  }
}
.connect-with-us__input-container {
  position: relative;
}
.connect-with-us__input-container:not(:last-of-type) {
  margin-bottom: 2.0625rem;
}
.connect-with-us .error-text {
  bottom: 1rem;
  right: 1rem;
  display: none;
}
.connect-with-us__input {
  border: none;
  display: block;
  font-family: inherit;
  font-weight: bold;
  border-bottom: 0.0625rem solid #1b1d23;
  width: 100%;
  padding: 0.625rem 0 1.3125rem 2.155625rem;
  font-size: 1.25rem;
  letter-spacing: -0.019375rem;
  font-weight: bold;
  color: #1b1d23;
  outline: none;
  transition: box-shadow 0.2s;
}
.connect-with-us__input:focus {
  box-shadow: 0 0.125rem 0 0 #1b1d23;
}
.connect-with-us__input.error {
  border-bottom-color: #df5656;
  color: #df5656;
}
.connect-with-us__input.error + .error-text {
  display: block;
}
.connect-with-us__input.error:focus {
  box-shadow: 0 0.125rem 0 0 #df5656;
}
.connect-with-us__input.error::placeholder {
  color: rgba(223, 86, 86, 0.5);
}
.connect-with-us__input--message {
  padding-bottom: 3.125rem;
  resize: vertical;
  min-height: 6.25rem;
  max-height: 11.25rem;
}
.connect-with-us__input::placeholder {
  color: #c8ccd8;
}

/*# sourceMappingURL=styles.css.map */
