*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:not(.link):focus,
button:focus,
[role=button]:focus {
  outline: none;
}
a:not(.link):focus-visible,
button:focus-visible,
[role=button]:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "League Spartan";
  src: url("../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}
body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0em;
}

.heading-xl {
  font-size: 250;
  letter-spacing: -5;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 0.8;
}

.heading-l {
  font-size: 3rem;
  letter-spacing: -0.075rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3rem;
}
@media (min-width: 768px) {
  .heading-l {
    font-size: 6rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 5rem;
  }
}

.heading-m {
  font-size: 3rem;
  letter-spacing: -0.106875rem;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 3.25rem;
}
@media (min-width: 768px) {
  .heading-m {
    font-size: 4.5rem;
    letter-spacing: -0.125rem;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    line-height: 4rem;
  }
}

.heading-s {
  font-size: 2rem;
  letter-spacing: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 2.5rem;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.letter-spacing-small {
  letter-spacing: -0.075rem !important;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip-path: inset(50%);
  white-space: no-wrap;
  padding: 0;
  margin: -1px;
  border: 0;
}

.hero-slide {
  padding: 7.25rem 2rem 6.875rem;
  color: #fff;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: none;
}
.hero-slide__title {
  margin-bottom: 0.6875rem;
}
.hero-slide__text {
  margin-bottom: 5.1875rem;
}
.hero-slide--1 {
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-paramour.jpg");
}
.hero-slide--2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-seraph.jpg");
}
.hero-slide--3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-federal.jpg");
}
.hero-slide--4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/home/mobile/image-hero-trinity.jpg");
}

.link {
  background-color: #1b1d23;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5625rem;
  color: #fff;
  padding: 1.5625rem 2rem 1.375rem 2.3125rem;
  display: inline-flex;
  gap: 1.5rem;
  transition: all 0.3s;
  outline: 0.1875rem solid transparent;
  outline-offset: 0.1875rem;
}
.link:hover {
  background-color: #60636d;
}
.link:active {
  background-color: #c8ccd8;
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 0.1875rem solid #c8ccd8;
  outline-offset: 0.1875rem;
}
.link--feature-desktop {
  display: none;
}
@media (min-width: 768px) {
  .link--feature-desktop {
    display: inline-flex;
  }
}
.link--feature-mobile {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .link--feature-mobile {
    display: none;
  }
}
.link--feature-white {
  padding: 0;
  background-color: transparent;
  color: #1b1d23;
}
.link--feature-white:hover {
  background-color: transparent;
}
.link--feature-white:active {
  background-color: transparent;
}
.link--feature-white:focus-visible {
  outline: 0.1875rem solid #1b1d23;
  outline-offset: 0.1875rem;
}

.project-card {
  position: relative;
  padding: 9.5625rem 1.5rem 1.4375rem;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
.project-card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.project-card__link-wrapper {
  text-decoration: none;
  color: #fff;
}
.project-card__link-wrapper:focus-visible {
  outline: none;
  box-shadow: none;
}
.project-card__link-wrapper:focus-visible::before {
  content: "";
  position: absolute;
  inset: -0.1875rem;
  border: 0.1875rem solid #1b1d23;
}
.project-card__text {
  opacity: 75%;
}
.project-card__number {
  display: none;
}
.project-card--1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-seraph.jpg");
}
.project-card--2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-eebox.jpg");
}
.project-card--3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-federal.jpg");
}
.project-card--4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-del-sol.jpg");
}
.project-card--5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-228b.jpg");
}
.project-card--6 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-prototype.jpg");
}
.project-card--7 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-edelweiss.jpg");
}
.project-card--8 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-netcry.jpg");
}
.project-card--9 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-hypers.jpg");
}
.project-card--10 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-sxiv.jpg");
}
.project-card--11 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-trinity.jpg");
}
.project-card--12 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/portfolio/mobile/image-paramour.jpg");
}

.submit-btn {
  border: none;
  z-index: 100;
  display: block;
  background-color: #1b1d23;
  color: #fff;
  padding: 1.9375rem 1.75rem;
  transition: all 0.3s;
  outline: 0.1875rem solid transparent;
  outline-offset: 0.1875rem;
}
.submit-btn--right {
  margin-left: auto;
}
.submit-btn:focus {
  outline: none;
}
.submit-btn:focus-visible {
  outline: 0.1875rem solid #c8ccd8;
  outline-offset: 0.1875rem;
}
.submit-btn:hover {
  background-color: #60636d;
}
.submit-btn:active {
  background-color: #c8ccd8;
}

.error-text {
  color: #df5656;
  font-weight: bold;
  letter-spacing: -0.0175rem;
  position: absolute;
}

.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu-toggle {
  display: flex;
  border: none;
}
.header__logo-link {
  width: 4.8125rem;
}
.header__slide {
  padding: 7.25rem 2rem 0;
}

.navigation {
  display: none;
}

.footer {
  position: relative;
  background-color: #eeeff4;
  padding-top: 5.8125rem;
  padding: 5.8125rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-container {
  display: inline-block;
  padding: 3.0625rem 1.875rem 2.929375rem 2rem;
  background-color: #1b1d23;
  color: #fff;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
}
.footer__list {
  list-style: none;
}
.footer__list-item {
  text-align: center;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__list-item:last-child {
  margin-bottom: 1.9375rem;
}
.footer__link {
  display: inline-block;
  color: #7d828f;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.hero__list {
  list-style-type: none;
}

.welcome {
  padding: 4.5rem 2rem 7.0625rem;
}
.welcome::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
.welcome__title {
  padding-top: 4.3125rem;
  margin-bottom: 1.375rem;
}
.welcome__text {
  color: #60636d;
}
.welcome__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.about {
  padding: 11.3125rem 2rem 11.25rem;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/home/mobile/image-small-team.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
.about__title {
  margin-bottom: 1.4375rem;
}

.featured {
  padding: 4.5625rem 2rem 10.6875rem;
}
.featured__title {
  margin-bottom: 2.6875rem;
}

.portfolio-main {
  margin-top: 3.498125rem;
  padding: 0 2rem 8.25rem;
}

.about-main {
  padding: 0 2rem;
  position: relative;
}
.about-main h2,
.about-main h3 {
  color: #1b1d23;
}
.about-main p {
  color: #60636d;
}
.about-main section {
  max-width: 40.0625rem;
}

.team-intro {
  padding: 16.3125rem 0 4.75rem;
}
.team-intro::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  inset-inline: 0;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/about/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
.team-intro__title {
  max-width: 19.4375rem;
}
.team-intro__text {
  margin: 1.25rem 0 0;
}
.team-intro ~ section h2 {
  max-width: 7ch;
}

.heritage {
  padding-bottom: 7rem;
}
.heritage::before {
  content: "";
  display: block;
  height: 1px;
  width: 4.0625rem;
  background-color: #c8ccd8;
}
.heritage__title {
  margin-top: 4.3125rem;
}
.heritage__text {
  margin-top: 1.375rem;
}
.heritage__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.leaders {
  padding-bottom: 10.6875rem;
}
.leaders__list-item {
  max-width: 21.875rem;
}
.leaders__list-item:not(:last-child) {
  margin-bottom: 4.9375rem;
}
.leaders__title {
  margin-bottom: 3.4375rem;
}
.leaders__image-container {
  display: block;
  width: 100%;
  margin-bottom: 0.9375rem;
}
.leaders__img {
  display: block;
  width: 100%;
}
.leaders .leaders__text {
  color: #1b1d23;
  opacity: 75%;
}

.contact-main {
  position: relative;
}
.contact-main p:not(.error-text) {
  color: #60636d;
}
.contact-main h2 {
  color: #1b1d23;
}

.tell-us {
  padding: 16.25rem 2rem 6.25rem;
}
.tell-us__title {
  margin-bottom: 1.3125rem;
  max-width: 11ch;
}
.tell-us__text {
  max-width: 37rem;
}
.tell-us::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  inset-inline: 0;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../assets/contact/mobile/image-hero.jpg");
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 45px), 0% calc(100% - 45px));
}
.tell-us ~ section h2 {
  max-width: 7ch;
}

.contact-details {
  padding-bottom: 4.5625rem;
}
.contact-details__title {
  padding: 0 2rem;
  margin-bottom: 2.5rem;
}
.contact-details__list-item:not(:last-child) {
  margin-bottom: 2.5rem;
}
.contact-details__list-title {
  color: #60636d;
  font-size: inherit;
  line-height: 2.1875rem;
  margin-bottom: 0.875rem;
}
.contact-details__list {
  padding: 0 2rem;
  margin-bottom: 4.4375rem;
}
.contact-details__list-text:last-of-type {
  margin-bottom: 2.6875rem;
}
.contact-details__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 23.4375rem;
}

.connect-with-us {
  padding: 0 2rem 8.25rem;
}
.connect-with-us__title {
  margin-bottom: 2rem;
}
.connect-with-us__form {
  display: flex;
  flex-direction: column;
}
.connect-with-us__input-container {
  position: relative;
}
.connect-with-us__input-container:not(:last-of-type) {
  margin-bottom: 2.0625rem;
}
.connect-with-us .error-text {
  bottom: 1rem;
  right: 1rem;
  display: none;
}
.connect-with-us__input {
  border: none;
  display: block;
  font-family: inherit;
  font-weight: bold;
  border-bottom: 0.0625rem solid #1b1d23;
  width: 100%;
  padding: 0.625rem 0 1.3125rem 2.155625rem;
  font-size: 1.25rem;
  letter-spacing: -0.019375rem;
  font-weight: bold;
  color: #1b1d23;
  outline: none;
  transition: box-shadow 0.2s;
}
.connect-with-us__input:focus {
  box-shadow: 0 0.125rem 0 0 #1b1d23;
}
.connect-with-us__input.error {
  border-bottom-color: #df5656;
  color: #df5656;
}
.connect-with-us__input.error + .error-text {
  display: block;
}
.connect-with-us__input.error:focus {
  box-shadow: 0 0.125rem 0 0 #df5656;
}
.connect-with-us__input.error::placeholder {
  color: rgba(223, 86, 86, 0.5);
}
.connect-with-us__input--message {
  padding-bottom: 3.125rem;
}
.connect-with-us__input::placeholder {
  color: #c8ccd8;
}

/*# sourceMappingURL=styles.css.map */
