@use "./functions" as *;
@use "./variables" as *;

// ==========================================
// MIXINS (Responsive layouts, etc.)
// ==========================================

@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media (min-width: 48em) {
      // 768px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (min-width: 64em) {
      // 1024px
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 80em) {
      @content;
    }
  }
}

@mixin geometric-hero-shape($image-path) {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  inset-inline: 0;
  height: rem(240);
  background-size: cover;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
    url($image-path);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    calc(100% - 32px) 100%,
    calc(100% - 32px) calc(100% - 45px),
    0% calc(100% - 45px)
  );

  @include respond(tab-port) {
    height: 100%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% rem(289),
      rem(58) rem(289),
      rem(58) 100%,
      0% 100%
    );
  }
}

@mixin horizontal-line {
  content: "";
  display: block;
  height: 1px;
  width: rem(65);
  background-color: $color-light-grey;
}

@mixin about-section-background-image($url) {
  background-image:
    linear-gradient(rgba($color-dark, 0.6), rgba($color-dark, 0.6)), url($url);
}

@mixin hero-slide-background-image($url) {
  background-image:
    linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)), url($url);
}

@mixin project-card-background-image($url) {
  background-image:
    linear-gradient(to bottom, rgba($color-dark, 0%), rgba($color-dark, 50%)),
    url($url);
}

// ==========================================
// PLACEHOLDERS
// ==========================================
%project-list-container {
  display: grid;
  max-width: rem(500);
  margin: 0 auto;
  gap: rem(24);

  @include respond(tab-port) {
    max-width: rem(573);
  }

  @include respond(tab-land) {
    max-width: unset;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
  }
}
