@use "../abstracts" as *;

.footer {
  background-color: $color-very-light-grey;
  padding: rem(93) rem(32) rem(48);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    position: relative;
    flex-direction: row;
    padding: 0;
    width: 79.7%;
  }

  &__logo-container {
    padding: 0 rem(30) 0 rem(32);
    background-color: $color-very-dark-blue;
    color: $color-white;
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    height: rem(120);
    width: rem(120);
    display: flex;

    @include respond(tab-port) {
      position: static;
      transform: translateY(0);
      margin-right: rem(40);
    }
  }

  &__list {
    list-style: none;

    @include respond(tab-port) {
      display: flex;
      align-items: center;
    }
  }

  &__list-item {
    text-align: center;

    &:first-child {
      @include respond(tab-port) {
        margin-right: rem(61);
      }
    }

    &:nth-last-child(2) {
      @include respond(tab-port) {
        margin-right: rem(51);
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: rem(31);

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $color-medium-grey;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
}
