@use "../abstracts" as *;

.footer {
  position: relative;
  background-color: $color-very-light-grey;
  padding: rem(93) rem(32) rem(48);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    background-color: transparent;
  }

  @include respond(desktop) {
    padding: 0 rem(165);
    max-width: rem(1440);
    margin: 0 auto;
  }

  &__logo-container {
    padding: 0 rem(30) 0 rem(32);
    background-color: $color-very-dark-blue;
    color: $color-white;
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    height: rem(120);
    width: rem(120);
    display: flex;

    @include respond(tab-port) {
      position: static;
      transform: translateY(0);
    }

    @include respond(desktop) {
      height: rem(200);
      width: rem(200);
      align-items: center;
      justify-content: center;
    }
  }

  &__logo {
    width: rem(58);

    @include respond(desktop) {
      width: rem(96);
    }
  }

  &__navigation {
    @include respond(tab-port) {
      position: relative;
      width: 64.1%;
      max-width: rem(784);
      background-color: $color-very-light-grey;
      padding-left: rem(40);
      display: flex;
    }

    @include respond(desktop) {
      padding-left: rem(85);
      width: 70.65%;
    }
  }

  &__list {
    list-style: none;

    @include respond(tab-port) {
      display: flex;
      align-items: center;
    }
  }

  &__list-item {
    text-align: center;

    &:first-child {
      @include respond(tab-port) {
        margin-right: rem(61);
      }
    }

    &:nth-last-child(2) {
      @include respond(tab-port) {
        margin-right: rem(51);
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: rem(31);

      @include respond(tab-port) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $color-medium-grey;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: rem(25);
    transition: color 0.3s;

    &:hover {
      color: $color-very-dark-blue;
    }
  }
}
