@use "../abstracts" as *;

.header {
  position: fixed;
  z-index: 150;
  pointer-events: none;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
    align-items: center;
    min-height: unset;
    background-color: $color-white;
  }

  @include respond(desktop) {
    max-width: rem(1440);
    margin: 0 auto;
  }

  &__wrapper {
    pointer-events: all;
    background-color: $color-white;
    padding: rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      padding: rem(56) 0 rem(56) rem(97);
      background-color: transparent;
      justify-content: flex-start;
    }

    @include respond(desktop) {
      padding-left: rem(165);
    }
  }

  &__menu-toggle {
    display: flex;
    border: none;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__logo-link {
    width: rem(77);

    @include respond(tab-port) {
      width: rem(96);
      margin-right: rem(78.87);
    }

    @include respond(desktop) {
      margin-right: rem(94.84);
    }
  }
}
