@use "../abstracts" as *;

.header {
  position: fixed;
  z-index: 50;
  pointer-events: none;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__wrapper {
    pointer-events: all;
    background-color: $color-white;
    padding: rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-toggle {
    display: flex;
    border: none;
  }

  &__logo-link {
    width: rem(77);
  }

  &__slide {
    padding: rem(116) rem(32) 0;
  }
}
