@use "../abstracts" as *;

.navigation-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba($color-dark, 0.5);
  display: none;

  &.open {
    display: flex;
  }

  @include respond(tab-port) {
    display: flex;
    background-color: transparent;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
  }
}

.navigation {
  background-color: $color-very-light-grey;
  padding: rem(39) rem(48) rem(42);

  width: calc(100% - rem(32));

  &__list-item {
    &:not(:last-child) {
      margin-bottom: rem(17);
    }

    @include respond(tab-port) {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-left: rem(51);
      }

      &:nth-last-child(2) {
        margin-left: rem(61);
      }
    }
  }

  &__link {
    display: block;
    pointer-events: all;
    text-decoration: none;
    color: $color-very-dark-blue;

    @include respond(tab-port) {
      font-size: rem(18);
      line-height: rem(25);
      color: $color-medium-grey;
    }
  }

  &__list {
    @include respond(tab-port) {
      display: flex;
    }
  }

  @include respond(tab-port) {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
}
