@use "../abstracts" as *;

.decoration-title {
  display: none;

  @include respond(tab-port) {
    display: block;
    position: absolute;
    color: $color-very-light-grey;
    top: rem(200);
    right: 0;
  }

  @include respond(desktop) {
    top: rem(130);
  }
}
