@use "../abstracts" as *;

.hero-slide {
  padding: rem(116) rem(32) rem(110);
  color: $color-white;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: none;

  @include respond(tab-port) {
    padding: rem(186) rem(58) rem(179) rem(58);
  }

  &__title {
    margin-bottom: rem(11);

    @include respond(tab-port) {
      max-width: rem(457);
      margin-bottom: rem(10);
    }
  }

  &__text {
    margin-bottom: rem(83);
    max-width: rem(470);

    @include respond(tab-port) {
      max-width: rem(457);
      margin-bottom: rem(33);
    }
  }

  &--1 {
    display: block;
    background-image:
      linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
      url("../../assets/home/mobile/image-hero-paramour.jpg");

    @include respond(tab-port) {
      background-image:
        linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
        url("../../assets/home/tablet/image-hero-paramour.jpg");
    }
  }

  &--2 {
    background-image:
      linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
      url("../../assets/home/mobile/image-hero-seraph.jpg");
  }

  &--3 {
    background-image:
      linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
      url("../../assets/home/mobile/image-hero-federal.jpg");
  }

  &--4 {
    background-image:
      linear-gradient(rgba($color-dark, 0.4), rgba($color-dark, 0.4)),
      url("../../assets/home/mobile/image-hero-trinity.jpg");
  }
}
