@use "../abstracts" as *;

.hero-slide {
  padding: rem(116) rem(32) rem(110);
  color: $color-white;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: none;

  @include respond(tab-port) {
    padding: rem(186) rem(58) rem(179) rem(58);
  }

  @include respond(tab-land) {
    padding: rem(186) rem(58) rem(179) rem(190);
  }

  &__title {
    margin-bottom: rem(11);

    @include respond(tab-port) {
      max-width: rem(457);
      margin-bottom: rem(10);
    }

    @include respond(tab-land) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    margin-bottom: rem(83);
    max-width: rem(470);

    @include respond(tab-port) {
      max-width: rem(457);
      margin-bottom: rem(33);
    }

    @include respond(tab-land) {
      margin-bottom: rem(41);
    }
  }

  &--1 {
    display: block;

    @include hero-slide-background-image(
      "../../assets/home/mobile/image-hero-paramour.jpg"
    );

    @include respond(tab-port) {
      @include hero-slide-background-image(
        "../../assets/home/tablet/image-hero-paramour.jpg"
      );
    }

    @include respond(tab-land) {
      @include hero-slide-background-image(
        "../../assets/home/desktop/image-hero-paramour.jpg"
      );
    }
  }

  &--2 {
    @include hero-slide-background-image(
      "../../assets/home/mobile/image-hero-seraph.jpg"
    );

    @include respond(tab-port) {
      @include hero-slide-background-image(
        "../../assets/home/tablet/image-hero-seraph.jpg"
      );
    }

    @include respond(tab-land) {
      @include hero-slide-background-image(
        "../../assets/home/desktop/image-hero-seraph.jpg"
      );
    }
  }

  &--3 {
    @include hero-slide-background-image(
      "../../assets/home/mobile/image-hero-federal.jpg"
    );

    @include respond(tab-port) {
      @include hero-slide-background-image(
        "../../assets/home/tablet/image-hero-federal.jpg"
      );
    }

    @include respond(tab-land) {
      @include hero-slide-background-image(
        "../../assets/home/desktop/image-hero-federal.jpg"
      );
    }
  }

  &--4 {
    @include hero-slide-background-image(
      "../../assets/home/mobile/image-hero-trinity.jpg"
    );

    @include respond(tab-port) {
      @include hero-slide-background-image(
        "../../assets/home/tablet/image-hero-trinity.jpg"
      );
    }

    @include respond(tab-land) {
      @include hero-slide-background-image(
        "../../assets/home/desktop/image-hero-trinity.jpg"
      );
    }
  }
}
