@use "../abstracts" as *;

.link {
  background-color: $color-very-dark-blue;
  text-decoration: none;
  text-transform: capitalize;
  line-height: rem(25);
  color: $color-white;
  padding: rem(25) rem(32) rem(22) rem(37);
  display: inline-flex;
  align-items: center;
  gap: rem(24);
  transition: all 0.3s;
  outline: rem(3) solid transparent;
  outline-offset: rem(3);

  svg {
    flex-shrink: 0;
  }

  &:hover {
    background-color: $color-dark-grey;
  }

  &:active {
    background-color: $color-light-grey;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(3) solid $color-light-grey;
    outline-offset: rem(3);
  }

  &--feature-desktop {
    display: none;

    @include respond(tab-port) {
      display: inline-flex;
    }
  }

  &--feature-mobile {
    display: flex;
    justify-content: center;
    max-width: rem(500);
    margin-left: auto;
    margin-right: auto;

    @include respond(tab-port) {
      display: none;
    }
  }

  &--feature-white {
    padding: 0;
    background-color: transparent;
    color: $color-very-dark-blue;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }

    &:focus-visible {
      outline: rem(3) solid $color-very-dark-blue;
      outline-offset: rem(3);
    }
  }

  &--footer {
    @include respond(tab-port) {
      align-self: center;
      position: absolute;
      right: rem(-153);
    }

    @include respond(desktop) {
      right: rem(-126);
    }
  }
}
