@use "../abstracts" as *;

.project-card {
  position: relative;
  padding: rem(153) rem(24) rem(23);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;

  &::after {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    inset: 0;
    transition: opacity 0.3s;
    z-index: 1;
    background-image: linear-gradient(
      rgba($color-white, 0.5),
      rgba($color-white, 0.5)
    );
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  @include respond(tab-port) {
    padding: rem(137) rem(40) rem(39);
  }

  @include respond(tab-land) {
    padding: 0 rem(40) rem(39);
    height: rem(560);
    display: flex;
    align-items: flex-end;
  }

  &__link-wrapper {
    text-decoration: none;
    color: $color-white;
    outline: none;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &::before {
      content: "";
      position: absolute;
      inset: rem(-3);

      border: rem(3) solid $color-very-dark-blue;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:focus-visible::before {
      opacity: 1;
    }
  }

  &__text {
    opacity: 75%;
  }

  &__number {
    display: none;

    @include respond(tab-port) {
      display: block;
      position: absolute;
      margin: auto 0;

      right: rem(16);
      top: rem(29);
      color: $color-white;
      opacity: 50%;
    }

    @include respond(tab-land) {
      top: rem(45);
      right: rem(-10);
    }
  }

  &--1 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-seraph.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-seraph.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-seraph.jpg"
      );
    }
  }

  &--2 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-eebox.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-eebox.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-eebox.jpg"
      );
    }
  }

  &--3 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-federal.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-federal.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-federal.jpg"
      );
    }
  }

  &--4 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-del-sol.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-del-sol.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-del-sol.jpg"
      );
    }
  }

  &--5 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-prototype.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-prototype.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-prototype.jpg"
      );
    }
  }

  &--6 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-228b.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-228b.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-228b.jpg"
      );
    }
  }

  &--7 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-edelweiss.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-edelweiss.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-edelweiss.jpg"
      );
    }
  }

  &--8 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-netcry.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-netcry.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-netcry.jpg"
      );
    }
  }

  &--9 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-hypers.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-hypers.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-hypers.jpg"
      );
    }
  }

  &--10 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-sxiv.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-sxiv.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-sxiv.jpg"
      );
    }
  }

  &--11 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-trinity.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-trinity.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-trinity.jpg"
      );
    }
  }

  &--12 {
    @include project-card-background-image(
      "../../assets/portfolio/mobile/image-paramour.jpg"
    );

    @include respond(tab-port) {
      @include project-card-background-image(
        "../../assets/portfolio/tablet/image-paramour.jpg"
      );
    }

    @include respond(tab-land) {
      @include project-card-background-image(
        "../../assets/portfolio/desktop/image-paramour.jpg"
      );
    }
  }
}
