@use "../abstracts" as *;

.submit-btn {
  border: none;
  z-index: 10;
  display: block;
  background-color: $color-very-dark-blue;
  color: $color-white;
  padding: rem(31) rem(28);
  transition: all 0.3s;
  outline: rem(3) solid transparent;
  outline-offset: rem(3);

  &--right {
    margin-left: auto;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(3) solid $color-light-grey;
    outline-offset: rem(3);
  }

  &:hover {
    background-color: $color-dark-grey;
  }

  &:active {
    background-color: $color-light-grey;
  }
}
