@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: rem(103);
  background-color: $color-white;

  @include respond(tab-port) {
    padding-top: rem(160);
  }
}

a:not(.link, .project-card__link-wrapper, .leader__socia-media-link),
button,
[role="button"] {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: rem(3) solid $color-very-dark-blue;
    outline-offset: rem(3);
  }
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  padding: 0 rem(32);

  @include respond(tab-port) {
    padding: 0 rem(98) 0 rem(97);
  }

  @include respond(desktop) {
    max-width: rem(1440);
    padding: 0 rem(165) 0 rem(165);
    margin: 0 auto;
  }
}
