@use "../abstracts" as *;

.about-main {
  h2,
  h3 {
    color: $color-very-dark-blue;
  }

  p:not(.page-label, .decoration-title) {
    color: $color-dark-grey;
  }
}

.team-intro {
  padding: rem(261) 0 rem(76);

  @include respond(tab-port) {
    position: relative;
    padding: rem(377) 0 0 rem(117);
    margin-bottom: rem(202);
    display: flex;
    justify-content: flex-end;
  }

  &::after {
    @include geometric-hero-shape("../assets/about/mobile/image-hero.jpg");

    @include respond(tab-port) {
      @include geometric-hero-shape("../../assets/about/tablet/image-hero.jpg");
    }
  }

  &__wrapper {
    position: relative;

    @include respond(tab-port) {
      max-width: rem(456);
      &::before {
        @include horizontal-line;
      }
    }
  }

  &__title {
    max-width: rem(311);
    letter-spacing: rem(-1.2);

    @include respond(tab-port) {
      margin-top: rem(73);
      max-width: unset;
      letter-spacing: rem(-2);
    }
  }

  &__text {
    margin: rem(20) 0 0;
  }

  & ~ section h2 {
    max-width: 7ch;
  }
}

.heritage {
  padding-bottom: rem(112);

  @include respond(tab-port) {
    padding-bottom: rem(231);
  }

  &::before {
    @include horizontal-line;
  }

  &__title {
    margin-top: rem(69);
    margin-bottom: rem(22);

    @include respond(tab-port) {
      margin-top: rem(49);
      margin-bottom: rem(62);
    }
  }

  &__text {
    @include respond(tab-port) {
      max-width: rem(669);
    }
  }

  &__text:not(:last-child) {
    margin-bottom: $paragraph-spacing;
  }
}

.leaders {
  padding-bottom: rem(171);

  @include respond(tab-port) {
    padding-bottom: rem(239);
  }

  &__list {
    @include respond(tab-port) {
      max-width: rem(700);
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: rem(103) rem(11);
    }
  }

  &__list-item {
    max-width: rem(350);
    margin-left: auto;
    margin-right: auto;
  }

  &__list-item:not(:last-child) {
    margin-bottom: rem(79);

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: rem(55);

    @include respond(tab-port) {
      margin-bottom: rem(49);
    }
  }

  &__image-container {
    display: block;
    width: 100%;
    margin-bottom: rem(15);

    @include respond(tab-port) {
      height: rem(256);
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      height: 100%;
    }
  }

  .leaders__text {
    color: $color-very-dark-blue;
    opacity: 75%;
  }
}
