@use "../abstracts" as *;

.about-main {
  h2,
  h3 {
    color: $color-very-dark-blue;
  }

  p:not(.page-label, .decoration-title) {
    color: $color-dark-grey;
  }
}

.team-intro {
  padding: rem(261) 0 rem(76);

  @include respond(tab-port) {
    position: relative;
    padding: rem(377) 0 0 rem(117);
    margin-bottom: rem(202);
    display: flex;
    justify-content: flex-end;
  }

  &::after {
    @include geometric-hero-shape("../assets/about/mobile/image-hero.jpg");

    @include respond(tab-port) {
      @include geometric-hero-shape("../../assets/about/tablet/image-hero.jpg");
    }

    @include respond(tab-land) {
      @include geometric-hero-shape(
        "../../assets/about/desktop/image-hero.jpg",
        10px
      );
    }
  }

  &__wrapper {
    @include respond(tab-port) {
      max-width: rem(456);
      &::before {
        @include horizontal-line;
      }
    }
  }

  &__title {
    max-width: rem(311);
    letter-spacing: rem(-1.2);

    @include respond(tab-port) {
      margin-top: rem(73);
      max-width: unset;
      letter-spacing: rem(-2);
    }

    @include respond(tab-land) {
      margin-top: rem(57);
    }
  }

  &__text {
    margin: rem(20) 0 0;

    @include respond(tab-port) {
      margin-top: rem(38);
    }

    @include respond(tab-land) {
      margin-top: rem(49);
    }
  }

  & ~ section h2 {
    max-width: 7ch;
  }
}

.heritage {
  padding-bottom: rem(112);

  @include respond(tab-port) {
    padding-bottom: rem(207);
  }

  @include respond(tab-land) {
    padding-bottom: rem(200);
    display: flex;
    justify-content: space-between;
    gap: rem(20);
  }

  &__wrapper {
    @include respond(tab-land) {
      max-width: rem(426);
    }

    &::before {
      @include horizontal-line;
    }
  }

  &__title {
    margin-top: rem(69);
    margin-bottom: rem(22);

    @include respond(tab-port) {
      margin-top: rem(49);
      margin-bottom: rem(62);
    }

    @include respond(tab-land) {
      margin-top: rem(82);
      margin-bottom: rem(51);
    }
  }

  &__text {
    @include respond(tab-port) {
      max-width: rem(669);
    }
  }

  &__text:not(:last-child) {
    margin-bottom: $paragraph-spacing;
  }

  &__img {
    display: none;

    @include respond(tab-land) {
      width: 40%;
      display: block;
    }

    @include respond(desktop) {
      width: auto;
    }
  }
}

.leaders {
  padding-bottom: rem(171);

  @include respond(tab-port) {
    padding-bottom: rem(239);
  }

  @include respond(tab-land) {
    padding-bottom: rem(159);
    display: flex;
  }

  &__list {
    display: grid;
    justify-content: center;

    @include respond(tab-port) {
      max-width: rem(700);
      margin: 0 auto;

      grid-template-columns: repeat(2, auto);
      gap: rem(103) rem(11);
    }

    @include respond(tab-land) {
      max-width: rem(730);
      gap: rem(63) rem(30);
    }
  }

  &__list-item {
    max-width: rem(350);
  }

  &__list-item:not(:last-child) {
    margin-bottom: rem(79);

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: rem(55);

    @include respond(tab-port) {
      margin-bottom: rem(49);
    }
  }

  &__image-container {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: rem(15);

    @include respond(tab-port) {
      height: rem(256);
    }

    @include respond(tab-land) {
      height: rem(230);
    }

    @include respond(desktop) {
      height: rem(256);
    }

    @include respond(big-screen) {
      height: rem(320);
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-port) {
      height: 100%;
    }
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(32);
    background-color: rgba($color-dark, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  &__image-container:hover &__image-overlay,
  &__image-container:focus-within &__image-overlay {
    opacity: 1;
  }

  &__socia-media-link {
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: rem(3) solid $color-white;
      outline-offset: rem(4);
    }
  }

  &__social-media-icon {
    display: block;
    width: rem(40);
    color: $color-white;
  }

  .leaders__text {
    color: $color-very-dark-blue;
    opacity: 75%;
  }
}
