@use "../abstracts" as *;

.contact-main {
  p:not(.error-text, .page-label, .decoration-title) {
    color: $color-dark-grey;
  }

  h2 {
    color: $color-very-dark-blue;
  }
}

.tell-us {
  padding: rem(260) 0 rem(100);

  @include respond(tab-port) {
    position: relative;
    padding: rem(377) 0 0 rem(117);
    margin-bottom: rem(200);
    display: flex;
    justify-content: flex-end;
  }

  &__wrapper {
    @include respond(tab-port) {
      max-width: rem(456);
      &::before {
        @include horizontal-line;
      }
    }
  }

  &__title {
    margin-bottom: rem(21);
    max-width: 11ch;
    letter-spacing: rem(-1.2);

    @include respond(tab-port) {
      margin-top: rem(73);
      margin-bottom: rem(37);
      max-width: unset;
      letter-spacing: rem(-2);
    }
  }

  &__text {
    max-width: rem(592);

    @include respond(desktop) {
      max-width: rem(451);
    }
  }

  &::after {
    @include geometric-hero-shape("../../assets/contact/mobile/image-hero.jpg");

    @include respond(tab-port) {
      @include geometric-hero-shape(
        "../../assets/contact/tablet/image-hero.jpg"
      );
    }

    @include respond(tab-land) {
      @include geometric-hero-shape(
        "../../assets/contact/desktop/image-hero.jpg",
        21px
      );
    }
  }
}

.contact-details {
  padding-bottom: rem(73);

  @include respond(tab-port) {
    padding-bottom: rem(199);
  }

  &::before {
    @include horizontal-line;
  }

  &__title {
    margin-bottom: rem(40);
    max-width: 7ch;

    @include respond(tab-port) {
      margin-top: rem(49);
      margin-bottom: rem(42);
    }
  }

  &__list {
    margin-bottom: rem(71);
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include respond(tab-port) {
      margin: 0 auto;
      gap: rem(43);
      margin-bottom: rem(226);
      max-width: rem(573);
    }
  }

  &__list-item {
    @include respond(tab-port) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__list-title {
    color: $color-dark-grey;
    font-size: inherit;
    line-height: rem(35);
    margin-bottom: rem(14);
  }

  &__list-text {
    &:last-of-type {
      margin-bottom: rem(43);
    }

    @include respond(tab-port) {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__list-link {
    @include respond(tab-port) {
      margin-bottom: rem(13);
    }
  }

  &__img {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: rem(375);

    @include respond(tab-port) {
      max-width: rem(573);
    }
  }
}

.connect-with-us {
  padding: 0 0 rem(132);

  @include respond(tab-port) {
    padding: 0 0 rem(200);
  }

  &__title {
    margin-bottom: rem(32);
    max-width: 7ch;

    @include respond(tab-port) {
      max-width: unset;
      margin-bottom: rem(50);
    }
  }

  &__form {
    max-width: rem(540);
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      max-width: rem(572);
    }
  }

  &__input-container {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: rem(33);
    }
  }

  .error-text {
    bottom: rem(16);
    right: rem(16);
    display: none;
  }

  &__input {
    border: none;
    display: block;
    font-family: inherit;
    font-weight: bold;
    border-bottom: rem(1) solid $color-very-dark-blue;
    width: 100%;
    padding: rem(10) 0 rem(21) rem(34.49);
    font-size: rem(20);
    letter-spacing: rem(-0.31);
    font-weight: bold;
    color: $color-very-dark-blue;
    outline: none;
    transition: box-shadow 0.2s;

    &:focus {
      box-shadow: 0 rem(2) 0 0 $color-very-dark-blue;
    }

    &.error {
      border-bottom-color: $color-red;
      color: $color-red;

      & + .error-text {
        display: block;
      }

      &:focus {
        box-shadow: 0 rem(2) 0 0 $color-red;
      }

      &::placeholder {
        color: rgba($color-red, 0.5);
      }
    }

    &--message {
      padding-bottom: rem(50);
    }

    &::placeholder {
      color: $color-light-grey;
    }
  }
}
